@font-face {
  font-family: "museo_sans_rounded900";
  src: url("../assets/fonts/museosansrounded-900-webfont.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "museo_sans_rounded300";
  src: url("../assets/fonts/museosansrounded-300-webfont.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "visbyRound";
  src: url("../assets/fonts/Visby-Round.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "visbyRoundBold";
  src: url("../assets/fonts/VisbyRoundCF-Bold.ttf");
  font-weight: bold;
  font-style: bold;
}

h1 {
  font-family: "visbyRoundBold";
  font-size: 48px;
  color: #ffffff !important;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #172b3a;
}

#__next {
  height: 100%;
}

.list-table {
  width: 100%;
}

.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
  border-radius: 10px !important;
}

.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link:hover {
  border-color: #4bbba0 !important ;
  color: #4bbba0 !important;
}

.search-input {
  width: 500px !important;
}

.ant-input {
  height: 40px !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  font-family: "visbyRound";
  border-radius: 30px !important;
  width: 100%;
  color: rgb(65 65 65 / 76%) !important;
  border-color: #d9d9d9;
  padding: 4px 20px !important;
  margin: 10px 5px !important;
}

input[type="text"] {
  height: 40px !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  font-family: "visbyRound";
  border-radius: 30px !important;
  width: 100%;
  color: rgb(65 65 65 / 76%) !important;
  border-color: #d9d9d9;
  padding: 4px 20px !important;
  margin: 10px 5px !important;
  border-style: solid;
}

input::placeholder {
  color: rgb(65 65 65 / 76%) !important;
}

input:focus {
  border-color: #4bbba0 !important;
  box-shadow: 0 0 0 2px #4bbba030 !important;
  outline: none;
}

input:hover {
  border-color: #4bbba0 !important;
}

.ant-input:focus,
.ant-input-focused {
  border-color: #4bbba0 !important;
  box-shadow: 0 0 0 2px #4bbba030 !important;
}

.ant-input:hover {
  border-color: #4bbba0 !important;
}

.green-button {
  background-color: #4bbba0;
  border-radius: 20px;
  color: #ffffff;
  border: none;
  font-family: "visbyRound";
  font-weight: 600;
  font-size: 16px;
  padding: 5px 15px;
  cursor: pointer;
  outline: inherit;
}

.red-button {
  background-color: #fa6670;
  border-radius: 20px;
  color: #ffffff;
  border: none;
  font-family: "visbyRound";
  font-weight: 600;
  font-size: 16px;
  padding: 5px 15px;
  cursor: pointer;
  outline: inherit;
}

.ant-list-bordered {
  border-radius: 20px !important;
  border: 1px solid #d9d9d9;
}

.ant-list {
  background: white;
  width: 800px;
}

.list-header {
  font-family: "visbyRound";
  font-weight: 600;
  font-size: 16px;
  color: black;
}
.ant-pagination-item {
  border-radius: 10px !important;
}

.ant-pagination-item-active a {
  color: #4bbba0 !important;
}

.ant-pagination-item-active {
  border-color: #4bbba0 !important;
}

.ant-pagination-item:focus,
.ant-pagination-item:hover {
  border-color: #4bbba0 !important;
}

.ant-list-item-meta-title {
  font-family: "visbyRound";
  font-weight: 600;
}

.ant-list-item-action-split {
  display: none;
}

.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next {
  border-radius: 10px;
}

.ant-modal-content {
  border-radius: 20px !important;
}

.ant-btn-primary {
  background-color: #4bbba0 !important;
  border-radius: 10px !important;
  color: #ffffff !important;
  border: none;
  border-color: #4bbba0 !important;
  font-family: "visbyRound" !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  cursor: pointer;
}

.ant-modal-title {
  font-family: "visbyRound";
  font-weight: 600 !important;
}

.ant-modal-header {
  border-radius: 20px 20px 0 0 !important;
}

.ant-pagination-disabled .ant-pagination-item-link,
.ant-pagination-disabled:hover .ant-pagination-item-link,
.ant-pagination-disabled:focus .ant-pagination-item-link {
  border-radius: 10px !important;
}

/* .ant-input-affix-wrapper {
  height: 40px !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  font-family: "visbyRound";
  border-radius: 30px !important;
  width: 60% !important;
  text-align: center;
  border-color: #d9d9d9;
  padding: 4px 20px !important;
  color: rgb(65 65 65 / 76%) !important;
}

.search-input.ant-input {
  font-weight: 600 !important;
  font-family: "visbyRound";
  color: rgb(65 65 65 / 76%) !important;
  font-size: 16px !important;
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  border-color: #4bbba0 !important;
  box-shadow: 0 0 0 2px #4bbba030 !important;
}

.ant-input-affix-wrapper:hover {
  border-color: #4bbba0 !important;
} */
